div.colorWrapper {
  margin: 20px auto 40px auto;
}

.colorWrapper p {
  align-self: center;
  color: var(--font-color);
  font-size: var(--article-fz);
  margin: 10px;
  color: var(--footer-p-color);
}

p.color.first {
  margin-left: 30px;
}

p.color.last {
  align-self: flex-start;
  margin: 0;
}

div.colorWrapper div {
  display: flex;
}
div.colorWrapper div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0;
}

div.colorWrapper div:nth-child(3) {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

div.color.last {
  flex-direction: column;
}

p.color:nth-of-type(2) {
  margin-bottom: 30px;
}

div.color {
  font-size: var(--article-fz);
}

ul.color {
  list-style: none;
}

li.color {
  font-size: var(--article-fz);
}

img.color {
  width: 100vw;
  align-self: center;
  max-height: 340px;
  max-width: 370px;
  height: auto;
}

img.color.last {
  max-width: 600px;
  padding: 0 4% 0 4%;
}

@media (max-width: 1340px) {
  .colorWrapper p,
  div.color,
  li.color {
    font-size: var(--fz-1280);
  }
}

@media (max-width: 990px) {
  div.colorWrapper div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .colorWrapper p {
    margin: 0;
  }
  p.color.first,
  p.color.last {
    margin: 20px 0 0 0;
  }
  img.color.last {
    max-width: 600px;
    margin: 20px 2% 0 2%;
    width: 100%;
  }

  .colorWrapper p,
  div.color,
  li.color {
    font-size: var(--fz-1024);
  }
  img.color {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 740px) {
  div.colorWrapper {
    margin-left: 2%;
    margin-right: 2%;
  }
  .colorWrapper p,
  div.color,
  li.color {
    margin-top: 20px;
    font-size: 17px;
  }
  img.color {
    padding: 0 2% 0 2%;
  }
  img.color.last {
    width: 100%;
  }
}

@media (max-width: 410px) {
  img.color {
    max-height: 250px;
    max-width: 250px;
  }
}
