/* dropdown menu */

li.hamburger {
  display: none;
}

button.burger {
  position: relative;
  display: flex;
  color: black;
  padding: 15px 20px;
  font-size: 25px;
  background-color: transparent;
  text-decoration: none;
  transition: 1s ease;
  text-transform: uppercase;
  font-weight: bold;
  align-self: center;
  border: none;
}
button.burger:focus {
  outline: none;
}

div.dropdown {
}

ul.dropdown {
  list-style: none;
}

a.dropdown {
  color: var(--ham-nav-color);
  text-decoration: none;
}

a.dropdown .active {
  background-color: var(--ham-nav-active);
}

button.active {
  opacity: 1;
}

/* hamburger */

@media (max-width: 590px) {
  li.menu {
    display: none;
  }
  li.logo {
    display: flex;
  }
  li.hamburger {
    display: flex;
    opacity: 0.95;
    z-index: 5;
  }

  div.dropdown {
    opacity: 0;
    z-index: 10;
  }

  a.active {
    opacity: 1;
  }
  a.dropdown {
    font-size: 20px;
  }

  img.logo {
    height: 90px;
  }

  button.burger {
    margin-left: 40px;
    font-size: 40px;
  }
}

@media (max-width: 470px) {
  div.dropdown {
    top: 72px;
  }

  button.burger {
    font-size: 35px;
  }
  a.dropdown {
    font-size: 18px;
  }

  img.logo {
    height: 85px;
  }
}

@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
